extends ../layout

block body

  if errors
    each error in errors
      p= error
  #login-form
    form.form(role='form', action='/auth/local', method='post')
      fieldset
        label.required(for="username") Username
        input(type='text', name='identifier', placeholder='Username or Email')
        label.required(for="password") Password
        input(type='password', name='password', placeholder='Password')
      fieldset
        input(type="hidden", name="_csrf", value="#{_csrf}")
        button.button(type='submit') Sign in
    hr
    if providers
      #provider-login
        h4 Or sign in with:
        br
        each provider in providers
          a.button(href="/auth/#{provider.slug}", class="#{provider.slug}")= provider.name
