doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(type='text/css', href='/styles/all.css', rel='stylesheet')

    body(data-user-id=req.session.authenticated ? '#{req.session.User.id}' : '')
      include _nav

      if (flash && flash.err)
        ul
          each message in flash.err
            li= message.message

      .container
          block body

      script(src="/js/dependencies/sails.io.js", asnyc)
      script(src="/js/dependencies/jquery-2.1.1.js", asnyc)
      script(src='/js/map.js', async)
