doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(type='text/css', href='/styles/all.css', rel='stylesheet')

    body(data-user=req.isAuthenticated() ? '#{req.user[0].id}' : 'sessionlessUser')
      
      .container

        include _nav

        if (flash && flash.err)
          ul
            each message in flash.err
              li= message.message

        main
          .inner-container
            block body

      #modal
        #modal-wrapper
          a#modal-close-button(href="#")
            i.fa.fa-times
          #modal-inner
            #modal-login
              h2 Einloggen um Favouriten zu speichern
              hr
              form#modal-form.form
                input(type="email", placehoder="email", value="")
                br
                input(type="password", placehoder="passwort")
                br
                input.button.full(type="submit", value="Einloggen")
                input(type="hidden", value="")
              hr
              p Noch kein Konto?
              br
              a.button.full.highlight(href="#") Neues Konto anlegen
              hr
              p oder
              br
              #modal-cancel-account
                a#cancel-account-button.button.full(href="#") Ohne Account fortfahren
                p Ihre Favouriten werden zwei Tage gespeichert. 


      script(src="/js/dependencies/sails.io.js")
      script(src="/js/dependencies/jquery-2.1.1.js")
      script(src="/js/lib/jquery.cookie.js")
      script(src='/js/map.js')
      script(src='/js/favourites.js')
      script(src='/js/modal.js')
      script(src='/js/nav.js')

      //- - console.log(req.user)
      //- - console.log(req.param('id'));