doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(type='text/css', href='/styles/all.css', rel='stylesheet')

    body(data-user=req.session.authenticated ? '#{req.session.User.id}' : 'sessionlessUser', data-fake-user="54cf437cc48870f507214efa")
      include _nav

      if (flash && flash.err)
        ul
          each message in flash.err
            li= message.message

      .container
        nav#menu
          ul
            li Menu
            li Menu
            li Menu
            li Menu

        block body

      script(src="/js/dependencies/sails.io.js")
      script(src="/js/dependencies/jquery-2.1.1.js")
      script(src="/js/lib/jquery.cookie.js")
      script(src='/js/map.js')
      script(src='/js/favourites.js')
