#admin {
  background: $red;
  padding: 10px 0;
  @include media($tablet) {
    margin-top: -21px;
    height: 57px;
  }
  .container {
    margin-top: 0;
  }
  a {
    color: white;
    display: inline-block;
    margin-right: $default-margin;
  }
}

#admin__navigation {
  @include transition(opacity 0.2s ease-out);
  @include media($tablet) {
    @include size(100%);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    background: rgba($red,0.9);
    opacity: 0;
    .wrapper {
      @include vertical-center;
      width: 100%;
    }
    a {
      display: block!important;
      text-align: center;
      margin-left: 0;
      float: none!important;
      margin: 0 0 $default-margin 0!important;
      &:last-child {
        margin-bottom: $default-margin*2;
      }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}

#admin__navigation--link {
  display: none;
  position: absolute;
  right: 28px;
  top: 15px;
  font-size: 1.5em;
  cursor: pointer;
  @include media($tablet) {
    display: block;
    z-index: 2;
  }
}