.edit {
  @include col(1/2);
  label {
    width: 200px;
    display: inline-block;
  }
  input[type=text] {
    padding: 2px 5px;
  }
  fieldset {
    margin-bottom: $default-margin*2;
  }
}

.edit__profile--avatar {
  width: 300px;
}