.add-as-favourite, .add-as-friend {
  @include appearance(none);
  @include size(20px);
  margin-left: $default-margin;
  border: 0;
  outline: none;
  background: grey;
  color: white;
  padding: 3px 6px;
  border-radius: 50%;
  @include transition(background 0.2s ease-out);
  text-align: center;
  line-height: 20px;
  &:before {
    position: relative;
    color: white;
    font-size: 12px;
    bottom: 2px;
  }
  &.inquired {
    background: grey;
    color: white;
    &:before {
      content: "?";
      font-weight: bold;
    }&:hover {
      &:before {
        content: "?";
        font-weight: bold;
      }
    }
  }
  &.confirmed {
    color: black;
    background: $green;
    &:before {
      content: "✔";
    }
    &:hover {
      background: $darkest-red;
      &:before {
        content: "✖";
      }
    }
  }
  &:hover {
    cursor: pointer;
    &:before {
      content: "✔";
    }
  }
}