#form, .form {
  margin: 30px 0 0 0;
  label {
    width: 200px;
    display: inline-block;
    &.required {
      &:after {
        content: "*";
        margin-left: 5px;
        color: $green;
      }
    }
  }
  fieldset:not(:last-child) {
    margin-bottom: $default-margin*2;
  }
  hr {
    margin-bottom: $default-margin/2;
  }
  input[type=text], textarea, input[type=email], input[type=password] {
    @include appearance(none);
    outline: 0;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    width: 300px;
    color: $dark-grey;
    border: 1px solid transparent;
    border-radius: 0;
    &:focus {
      border: 1px solid black;
    }
    @include media($mobile) {
      width: 100%;
    }
  }
  input[type=submit] {
    @extend .button;
  }
  select {
    width: 300px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.error__message {
  li {
    span {
      background: $darkest-red;
      color: white;
      padding: 2px 6px;
      font-size: 12px;
      border-radius: 3px;
      text-decoration: none;
      margin-bottom: $default-margin/4;
    }
  }
}