#login__card {
  @include horizontal-center;
  background: $tile-color;
  box-shadow: 1px 1px 5px 0 rgba(black, 0.2);
  color: white;
  margin-top: 100px;
  @include media($mobile) {
    width: 80%;
    margin-top: $default-margin;
  }
}

#login__card--wrapper {
  padding: $default-padding;
}