nav {
  background: black;
  padding: 5px 10px 20px 10px;
  position: relative;
  @include media($tablet) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .container {
    @include media($tablet) {
      margin-top: $default-margin/2;
    }
  }
}

#nav {
  @include transition(opacity 0.2s ease-out);
  .nav__item {
    display: inline-block;
    margin-right: 10px;
    &--logout, &--login, &--blog, &--index {
      float: right;
      margin-left: 10px;
    }
    &--signup, &--user {
      display: inline-block;
      margin-right: 10px;
      a {
        background: #107360;
        border: 0;
        outline: 0;
        padding: 10px 15px;
        font-size: 14px;
        color: white;
        text-decoration: none;
      }
    }
  }
  @include media($tablet) {
    @include size(100%);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    ul {
      @include vertical-center;
      width: 100%;
    }
    li {
      display: block!important;
      text-align: center;
      margin-left: 0;
      float: none!important;
      margin: 0 0 $default-margin 0!important;
      &:last-child {
        margin-bottom: $default-margin*2;
      }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}

#mail {
  display: none;
  position: absolute;
  i {
    font-size: 1.2em;
  }
  a {
    color: white;
    text-decoration: none;
  }
  @include media($tablet) {
    display: block;
    top: 15px;
    right: 70px;
  }
}

#user__inquiries {
  display: none;
  position: absolute;
  i {
    font-size: 1.2em;
  }
  a {
    color: white;
    text-decoration: none;
  }
  @include media($tablet) {
    display: block;
    top: 15px;
    right: 110px;

  }
}

.icon-counter {
  position: absolute;
  top: -4px;
  left: -11px;
  background: $red;
  font-size: 10px;
  @include size(16px);
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
}

#mobile__logo {
  display: none;
  a {
    color: white;
    text-decoration: none;
  }
  @include media($tablet) {
    display: block;
  }
}

.mobile__navigation {
  position: absolute;
  right: 30px;
  bottom: 19px;
  z-index: 2;
  @include size(20px);
  cursor: pointer;
  display: none;
  @include media($tablet) {
    display: block;
  }
  span {
    display: block;
    background: white;
    height: 2px;
    margin-bottom: 4px;
    @include transition(all 0.2s ease-out);
  }
  &.active {
    span {
      &:first-child {
        @include transform(translateY(6px) rotate(-45deg));
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        @include transform(translateY(-6px) rotate(45deg));
      }
    }
  }
}