.favourites-card{
  @include span-columns(2);
  @include omega(6n);
  background: $tile-color;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  margin-top: $default-margin;
  &:last-child {
    margin-bottom: $default-margin*2;
  }
  @include media($tablet) {
    @include span-columns(3);
    @include omega-reset(6n);
    @include omega(4n);
  }
  @include media($mobile) {
    @include span-columns(6);
    @include omega(2n);
  }
}