// -----------------------------------------------------------------------
// Flexbox Grid
// -----------------------------------------------------------------------

.container {
  @include outer-container;
  min-height: 100%;
}

.inner-container {
  padding: 0 $default-padding;
  @include media($mobile) {
    padding: 0 $default-padding/2;
  }
  min-height: 100%;
}

.row {
  @include row;
}

#menu {
  @include span-columns(12);
  @include omega();
  background: #222;
  padding: $default-padding/2 0;
}

#content {
  @include span-columns(12);
  @include omega();
  @include calc(min-height, "100% - 44px");
  overflow: hidden;
}

main {
  @include span-columns(12);
  @include omega();
  @include calc(min-height, "100% - 45px");
  overflow-x: hidden;
}