#map, #list {
  float: left;
  overflow-x: hidden;
  height: 100%;
  @include media($mobile) {
    display: block;
    width: 50%!important;
    margin: 0!important;
    overflow-x: hidden;
    @include transition(transform 0.3s ease-out);
  }
}

#map {
  width: 50%;
  @include calc(height, "100vh - 90px");
}

#map-canvas {
  width: 100%;
  height: 100%;
}

.point-description {
  color: black;
}

.category-list-item {
  a {
    &.active {
      color: $highlight;
      border-color: $highlight;
    }
  }
}

.category-reset-js {
  opacity: 0;
  @include transition(opacity 0.2s);
  &.active {
    opacity: 1;
  }
}

$categories: "restaurant", "bar-kneipe", "museum", "geschäft", "bäckerei";

.card-list{
  @each $cat in $categories {
    &[data-category=#{$cat}] {
      .card:not([data-category~=#{$cat}]) {
        display: none;
      }
    }    
  }
}
