#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.9);
  opacity: 0;
  @include transition(opacity 0.2s ease-out);
  z-index: -1;
  &.active {
    opacity: 1;
    z-index: 30;
  }
}

#modal-wrapper {
  @include total-center;
  width: 280px;
  hr {
    margin: $default-margin 0;
  }
}

#modal-form{
  label {
    display: block;
    font-size: 14px;
  }
  input[type="email"], input[type="password"] {
    width: 100%;
    @include appearance(none);
    border: 0;
    outline: 0;
    padding: $default-padding/2;
    margin-bottom: $default-margin;
    font-size: 1em;
    line-height: 1;
    @include placeholder {
      color: grey;
    }
  }
}

#cancel-account-button{

}


#modal-oauth {
  text-align: center;
  a {
    &:first-child {
      margin-right: $default-margin;
    }
  }
}

#modal-cancel-account {
  font-size: 14px;
  a {
    margin-bottom: $default-margin;
  }
  p {
    font-size: 14px;
  }
}