// -----------------------------------------------------------------------
// General Styles
// -----------------------------------------------------------------------

* {
  &:after, &:before {
    @include box-sizing(border-box);
  }
}

body, html {
  width: 100%;
  min-height: 100%;
}

img {
  display: block;
}

// -----------------------------------------------------------------------
// Specific Styles
// -----------------------------------------------------------------------

body {
  position: relative;
  background: $bg-color;
  color: white;
  font-size: 1em;
}

a {
  color: $darkest-red;
  text-decoration: underline;
}

// -----------------------------------------------------------------------
// TODO Styles
// -----------------------------------------------------------------------