$dark-grey:         #333333;
$light-grey:        #999999;
$lightest-grey:     #cccccc;
$light-blue:        #deeef7;

$link-color:        #a0a0a0;

$bg-color:          #2F3238;
$lila:              #403E45;
$red:               #CC6055;
$dark-red:          #B8574D;
$darkest-red:       #9D4A42;
$green:             darken(#27AE60, 15%);
$turquoise:         darken(#16A085, 10%);
$tile-color:        lighten($bg-color, 5%);

$highlight:         $turquoise;
$admin:             $red;